$height_siteNavHeight: 15vh;
$height_heroHeight: 60vh;
$height_sectionHeight: 85vh;
$height_footerHeight: 10vh;

$width_fullWidth: 100%;

$size_headerFont: 3em;
$size_taglineFont: 1.75em;
$size_projectTitleFont: 1.2em;

$margin_siteNavEdges: 24px;
$margin_sectionContentTop: 5vh;
$margin_footerEdges: 24px;

$padding_sectionTopBottom: 7vh;

$color_blue: rgb(2, 168, 243);
$color_white: rgb(254, 254, 254);
$color_darkGray: rgb(116, 116, 116);
$color_lightGray: rgb(188, 188, 188);
$color_orange: rgb(254, 86, 33);