.siteFooter {
    height: $height_footerHeight;
    width: $width_fullWidth;
}
    .siteFooter_name,
    .siteFooter_copyright {
        font-size: 1.1em;
        color: $color_orange;
        line-height: $height_footerHeight;
    }
    .siteFooter_name {
        float: left;
        margin-left: $margin_footerEdges;
    }
    .siteFooter_copyright {
        float: right;
        margin-right: $margin_footerEdges;
    }