@import '../modules/_variables';

.siteNav {
    background: $color_white;
    border-bottom: 3px solid $color_lightGray;
    font-size: 1.6em;
    height: $height_siteNavHeight;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
    .siteNav_brand {
        color: $color_orange;
        float: left;
        font-weight: bold;
        line-height: $height_siteNavHeight;
        margin-left: $margin_siteNavEdges;
    }
    .siteNav_nav {
        float: right;
        line-height: $height_siteNavHeight;
        list-style: none;
        margin: 0 $margin_siteNavEdges 0 0;

    }
        .siteNav_nav_item {
            display: inline-block;
            height: inherit; // inherit from ul.siteNav_nav so that hover effect takes all vertical space
            width: 100px;
            text-align: center;

            &:hover {
                background: rgba($color_lightGray, 0.5);
                border-bottom: 4px solid $color_orange;
            }

            a {
                color: $color_darkGray;
            }
        }
        .siteNav_nav_item:last-child {
            margin-right: 0;
        }
    .siteNav_menuBtn {
        background: $color_orange;
        border: 0;
        color: $color_white;
        display: none;
    }

@media screen and (max-width: 660px) {
    // Don't show as button will be showing instead
    .siteNav_nav {
        display: none;
    }

    .siteNav_menuBtn {
        display: block;
        position: absolute;
        right: 5%;
        top: 25%;
    }
    
    .js-responsive .siteNav_nav {
        background: $color_white;
        border-bottom: 2px solid $color_lightGray;
        display: block;
        float: left;
        left: 0;
        line-height: normal;
        margin: 0;
        padding: 2vh 0 2vh $margin_siteNavEdges;
        position: absolute;
        right: 0;
        top: $height_siteNavHeight;

        .siteNav_nav_item {
            display: block;
            margin: 1vh 0;
            text-align: left;
        }
    }
}