@import 'partials/_navBar';
@import 'partials/_footer';

//
// Common Styling
//
.content {
    margin-top: $height-siteNavHeight;
}

.sectionName {
    font-size: $size_headerFont;
    font-weight: bold;
    margin: 0;
}

// Divider with circular ends
.divider {
    border-width: 1px;
    border-style: solid;
    margin: 20px auto;
    position: relative;
    width: 50vw;

    &:before,
    &:after {
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        content: " ";
        height: 10px;
        position: absolute;
        width: 10px;
    }
    &:before {
        left: -15px;
        top: -7px;
    }
    &:after {
        right: -15px;
        top: -7px;
    }
}

.tagline {
    font-size: $size_taglineFont;
}

//
// Shared Section Styles
//
.hero,
.work,
.skills,
.about,
.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: $height_sectionHeight; // Make sure it takes up large portion of page
    justify-content: center;
    padding: $padding_sectionTopBottom; // Vertical empty space in section
}

.work,
.about {
    background: $color_white;
}
    .work_header_name,
    .about_header_name {
        color: $color_orange
    }
    .work_header_divider,
    .about_header_divider {
        border-color: $color_orange;
        &:before,
        &:after {
            border-color: $color_orange;
        }
    }

.skills,
.contact {
    background: $color_blue;
    border-bottom: 4px solid $color_lightGray;
    border-top: 4px solid $color_lightGray;
}
    .skills_header_name,
    .contact_header_name {
        color: $color_white;
    }
    .skills_header_divider,
    .contact_header_divider {
        border-color: $color_white;
        &:before,
        &:after {
            border-color: $color_white;
        }
    }

.work_content,
.skills_content,
.about_content,
.contact_content {
    display: flex;
    justify-content: space-around;
    margin-top: $margin_sectionContentTop;
    width: 80%;
}

//
// Hero Section
//
.hero {
    background: $color_blue;
    color: $color_white;
    min-height: $height_heroHeight;
    position: relative; // Otherwise triangle after will not position correctly

    // Triangle after hero
    &:after {
        border-top: 10vh solid $color_blue;
        border-left: 10vh solid transparent;
        border-right: 10vh solid transparent;
        content: " ";
        position: absolute;
        top: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 0;
    }
}
    .hero_intro_name {
        font-size: 5em;
        font-weight: bold;
    }
    .hero_intro_divider,
    .hero_intro_divider:before,
    .hero_intro_divider:after {
        border-color: $color_white;
    }

//
// Work Section
//
.work_header {
    margin-top: 10vh;
}
    .work_header_tagline {
        color: $color_darkGray;
    }
.work_content {
    background: rgba($color_lightGray, 0.2);
}
    .work_content_projectSlide {
        margin: 20px;
    }
        .projectSlide_img {
            width: $width_fullWidth;
        }
        .projectSlide_title {
            background: $color_orange;
            color: $color_white;
            font-size: $size_projectTitleFont;
            height: 60px;
            line-height: 60px; // Centers text vertically
            padding-left: 10px;
        }

//
// Skills Section
//
.skills_content {
    align-items: center;
    flex-wrap: wrap;
}
    .skills_content_skill {
        flex: 0 1 33%;
        text-align: center;
    }
        .skill_icon {
            width: 30%;
        }

//
// About Section
//
.about_content {
    align-items: center;
    font-family: 'Merriweather', serif;
}
    .about_content_description {
        flex: 1;
    }
        .descriptionText {
            color: $color_darkGray;
            font-size: 18px;
        }
    .about_content_profileImg {
        flex: 1;
        text-align: center;

        img {
            border: 3px solid $color-orange;
            border-radius: 5%;
            max-height: 300px;
            max-width: $width_fullWidth;
        }
    }

//
// Contact Section
//
.contact_content {
    align-items: flex-start;
}
    .contact_content_email {
        flex: 0 1 60%;
        width: $width_fullWidth;

        input {
            display: block;
            width: $width_fullWidth;
        }
    }
        .email_emailName,
        .email_name,
        .email_messageArea {
            border: 0;
            color: $color_darkGray;
            margin-bottom: 2vh;
            padding-left: 2vh;
        }
        .email_messageArea {
            min-height: 40vh;
            width: $width_fullWidth;
        }
        .email_submit {
            background: $color_orange;
            border: 0;
            color: $color_white;
            height: 7vh;
            width: 30%;
        }
    .contact_content_social {
        display: flex;
        flex: 0 1 40%;
        flex-direction: column;
    }
        .social_icon {
            text-align: center;
        }
        .social_icon_img {
            max-width: 100px;
        }

//
// Mobile Styles
//
@media screen and (max-width: 420px) {
    .work_content {
        width: $width_fullWidth;
    }

    .skill_icon {
        width: 90%;
    }

    .about_content {
        flex-direction: column-reverse;
        width: $width_fullWidth;
    }

    .contact_content {
        flex-direction: column;
        width: $width_fullWidth;
    }
        .contact_content_social {
            flex-direction: row;
            margin-top: 5vh;
        }
            .social_icon {
                min-width: 25px;
            }
}