nav.siteNav
    a.siteNav_brand.u-noDecoration(href="/") Zac Clemans
    ul.siteNav_nav
        li
            a.u-noDecoration(href="/#workSection") Work
        li
            a.u-noDecoration(href="/#skillsSection") Skills
        li 
            a.u-noDecoration(href="/#aboutSection") About
        li 
            a.u-noDecoration(href="/#contactSection") Contact
    