nav.siteNav
    a.siteNav_brand.u-noDecoration(href="/") Zac Clemans
    ul.siteNav_nav
        li.siteNav_nav_item
            a.u-noDecoration(href="/#workSection") Work
        li.siteNav_nav_item
            a.u-noDecoration(href="/#skillsSection") Skills
        li.siteNav_nav_item
            a.u-noDecoration(href="/#aboutSection") About
        li.siteNav_nav_item
            a.u-noDecoration(href="/#contactSection") Contact
    button.siteNav_menuBtn Menu
    