doctype html
// Created by Zachary Clemans - 2016
// Inspiration for design from http://mottau.co.uk/
head
    meta(lang="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Portfolio of one Mr. Zac Clemans

body
    include ../partials/_navBar
    block content
    // include ../partials/_footer