doctype html
head
    meta(lang="utf-8")
    meta(name="viewport", content="width=device-width, intial-scale=1.0")
    title Portfolio of one Mr. Zac Clemans

body
    include ../partials/_header.pug
    block content
